body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

mat-card {
  margin-bottom: 5px;
  margin-top: 2px;
}

mat-card-header {
  background: rgba(110, 160, 207, 0.164);
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

mat-card-content {
  margin-top: 10px;
}

.mat-mdc-card-header {
  padding: 2px 16px 0 !important;
}

button {
  width: fit-content;
  margin: 16px 0px 16px 16px;
}

.mat-mdc-mini-fab {
  height: 35px !important;
  width: 35px !important;
  margin-top: 1% !important;
}

.archive {
  position: absolute;
  right: 40px;
  top: 10px;
}
